<html>
	<head>
		<title>Login - The Network</title>
		<style>
			body{
				background-color: #3a3a3a;
				padding:10px;
				font-family: Segoe UI Light, sans-serif;
				font-size:20px;
			}
			.mainWrapper {
				background-color:#f5f5f5;
				width:50%;
				height:250px;
				margin-left:25%;
				border-radius:10px;
				padding:10px
			}
			label{
				color:#3a3a3a;
				width:50px;
				margin:0px;
				padding:5px;
				margin:5px;
			}
			h1 {
				color:#fff;
				width:50%;
				text-align:center;
				margin-left:25%;
				margin-top:50px;
				font-size:40px;
				font-weight: 1000;
			}
			input[type="submit"] {
				width:150px;
				font-family:Segoe UI Light, sans-serif;
				font-size:20px;
				background-color:#3a3a3a;
				color:white;
				border:none;
				margin:20px;
				padding:10px;
			}
			input[type="submit"]:hover {
				background-color: #505050;
			}
			input[type="submit"]:active {
				background-color: #000;
			}
			input[type="text"] {
				border:0px;
				border-bottom: 1px solid #3a3a3a;
				margin:5px;
				font-size: 20px;
				font-family: Segoe UI Light, sans-serif;
				background-color: #f5f5f5;
			}
			input[type="password"] {
				border:0px;
				border-bottom: 1px solid #3a3a3a;
				margin:5px;
				font-size: 20px;
				font-family: Segoe UI Light, sans-serif;
				background-color: #f5f5f5;
			}
		</style>
	</head>
	<body>
	    <h1>The Network</h1>
	    <div class="mainWrapper">
	        <form action="/signin" method="post" enctype="multipart/form-data" style="text-align:center;margin:50px">
	        	<div style="display:block;">
	            	<label for="username">Username:</label><input type="text" name="username"/>
	        	</div>
	        	<div style="display:block">
	            	<label for="password">Password:</label><input type="password" name="password"/>
	            </div>
	        	<input type="submit" value="Login" style=""/>
	        </form>
	        {% if src==3 %}
	        	<p style="color:red;font-family:Verdana, sans-serif;padding:5px;text-align:center">Location/IP cannot be determined</p>
	        {% elif src==2 %}
	        	<p style="color:red;font-family:Verdana, sans-serif;padding:5px;text-align:center">Incorrect password and/or username</p>
	        {% endif %}
	    </div>
	</body>
</html>