<html>
	<head>
		<title>{{user}} - The Network</title>
		<style type="text/css">
			body {
				background-color:#3a3a3a;
				font-family: Segoe UI Light, sans-serif;
				padding:0px;
				margin: 0px;
			}
			h1 {
				color:#fff;
				width:50%;
				text-align:center;
				margin-left:25%;
				margin-bottom: 0px;
				margin-top: 0px;
				font-size:40px;
				padding:10px;
				font-weight:1000;
			}
			div.mainContainer {
				background-color:white;
				margin-left: 25%;
				width:-webkit-fill-available;
				height:-webkit-fill-available;
			}
			div.leftPanel {
				width: 25%;
				float:left;
			}
			iframe {
				border:none;
				height:100%;
				width:100%;
			}
			.navbar {
				height:50px;
				background-color:#505050;
				color:white; 
				display:block;
				text-align: center;
				border-bottom:2px solid #696969;
				border-top:2px solid #696969;
				position:relative;
			}
			.navContainer {
				margin:0px;
				font-size: 18px;
				text-align: center;
				display: inline-block;
				padding:0px;
			}
			.navContainer li {
				display: inline-block;
				height:50px;
				text-align: center;
				margin-left: 30;
				margin-right: 30px;
				border: 2px white;
			}
			.navContainer li a{
				text-decoration: none;
				color:white;
			}
			.navContainer li a:hover {
				text-decoration: underline;
			}
			.userWelcome{
				margin:16px 350px 0px 0px;
				display: inline-block;
				text-align: center;
				font-size:18px;
			}
			.signOut {
				margin:0px 0px 0px 350px;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				color:#DF2935;
				font-size: 18px;
				font-weight: bold;
			}
			.footer {
				background-color: #3a3a3a;
				height:20px;
				display: block;
				padding:2px;
				text-align: center;
				font-size: 10px;
			}
			.mainWrapper {
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			.centerWrapper {
				overflow: hidden;
			}
		</style>
	</head>
	<body>
	    <h1>The Network</h1>
	    <div class="mainWrapper">
	    <div class="navbar">
	    	<p class="userWelcome">Welcome {{user}}!</p>
	    	<ul class="navContainer">
	    		<li>IM</li>
	    		<li><a href="/setUserProfile">My Profile</a></li>
	    	</ul>
	    	<a class="signOut" href='/signout'>Log Off</a>
	    </div>
	    <div class="centerWrapper">
		    <div class="leftPanel">
		    	<iframe src="/retrieveUsers">
		    	</iframe>
		    </div>
		    <div class="mainContainer">
		    	<iframe src="/messaging" name="frame2">
		    	</iframe>
		    </div>
		</div>
	    <div class="footer">
	    	<p style="display:contents;color:white">A project by Dhairya Trivedi</p>
	    </div>
		</div>
	</body>
</html>