<html>
	<head>
		<style type="text/css">
			body {
				font-family: Segoe UI Light, sans-serif;
				background-color: #f8f8f8;
				text-align: center;
			}
			.sent{
				float:right;
				background-color: #dcdcdc;
			}
			.sent p {
				float: right;
			}
			.sent img {
				float:right;
				padding:10px;
			}
			.sent .timestamp {
				float:left;
				position:absolute;
				left:5px;
				bottom: 0;
				font-size: 10px;
				color:#000;
				padding:5px;
				background-color: #dcdcdc;
				border-radius: 5px;
			}
			.received {
				float:left;
				background-color: #505050;
				color:white;
			}
			.received p{
				float: left;
			}
			.received img {
				float: left;
				padding:10px;
			}
			.received .timestamp {
				float:right;
				position:absolute;
				right:5px;
				bottom: 0;
				font-size: 10px;
				color:#f1f1f1;
				padding:5px;
				background-color: #505050;
				border-radius: 5px;
			}
			.container {
			    border-radius: 5px;
			    width:50%;
			    margin: 10px 0px;
			    padding:0px 15px;
			    position: relative;
			}
			.container::after {
				content: "";
    			clear: both;
    			display: table;
			}
			.messagingDisplay {
				height:70%;
				border-bottom: 2px solid #3a3a3a;
				overflow-x: hidden;
				overflow-y:scroll;
				padding:0px 5px;
			}
			.nameHeader {
				width:100%;
				border-bottom: 2px solid #3a3a3a;
				text-align: center;
				font-size: 25px;
				padding-bottom:5px;
				padding-top:0px;
				margin:0px;
			}
			.nameHeader a {
				margin:0px;
				padding: 0px;
				text-decoration: none;
				color:black;
			}
			.sendText {
				padding:5px 0px;
			}
			textarea {
				width: 75%;
			    padding:2px;
			    margin:5px 0px;
			    height:10%;
			    resize:none;
			    display: inline-block;
			    font-family: Segoe UI Light, sans-serif;
				font-size: 14px;
			}
			input {
				display:inline-block;
				vertical-align: middle;
				font-family: Segoe UI Light, sans-serif;
				font-size: 14px;
				font-weight:lighter;
			}
			form {
				padding:5px;
				text-align: center;
				margin:0;
			}
			.error {
				color:red;
				padding:0px;
				margin:0px;
				font-size:14px;
			}
		</style>
	</head>
	<body>
		{% if userID == None %}
			<p>Please select a user from the list to send a message...</p>
		{% else %}
		<div class="nameHeader">
				<a href="/getUserProfile?userID={{ userID }}" target="_self">{{ userID }}</a>
				{% if error == '1' %}
					<p class="error"> Message could not be sent </p>
				{% elif error == '2' %}
					<p class="error"> File could not be sent </p>
				{% elif error == '3' %}	
					<p class="error"> You must select a file </p>
				{% endif %}
		</div>
		<div class="messagingDisplay">
			{% for i in messageList %}
				{% if i[2] == currentUser %}
					<div class="sent container">
						{% if i[3] == "text" %}
							<p>
								{{i[1]}}
							</p>
						{% else %}
							{% if i[5][0] == 'i' %} 
								<img src="static/sent/{{i[4]}}" width="150px" height="150px" alt="{{i[4]}}">
							{% elif (i[5][0] == "a") or (i[5][0] == "t") or (i[5][0] == "a") or (i[5][0] == "v") %}
								<object data="static/sent/{{i[4]}}" type="{{i[5]}}" width="100%" height="90%">
    								<param name="autoplay" value="0" />
   									{{i[4]}} cannot be displayed
								</object>
							{% else %}
								<p>{{ i[4] }} downloaded</p> 	
							{% endif %}
						{% endif %}
						<p class="timestamp">{{i[0]}}</p>
					</div>
				{% else %}
					<div class="received container">
						{% if i[3] == "text" %}
							<p>
								{{i[1]}}
							</p>
						{% else %}
							{% if i[5][0] == 'i' %} 
								<img src="static/downloads/{{i[4]}}" width="150px" height="150px" alt="{{i[4]}}">
							{% elif (i[5][0] == "a") or (i[5][0] == "t") or (i[5][0] == "a") or (i[5][0] == "v") %}
								<object data="static/downloads/{{i[4]}}" type="{{i[5]}}" width="100%" height="90%">
    								<param name="autoplay" value="0" />
   									{{i[4]}} cannot be displayed
								</object>
							{% else %}
								<p>{{ i[4] }} downloaded</p> 	
							{% endif %}
						{% endif %}
						<p class="timestamp">{{i[0]}}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="sendText">
			{% if userOnline[0] == 1 %}
				<form action="/sendMessage?userID={{userID}}" method="POST" enctype="multipart/form-data">
					<textarea name="message"></textarea>
					<input type="submit" value="Submit" style="position:absolute;margin:20px 0px 0px 20px;">
				</form>
				<form action="/sendFile?userID={{userID}}" method="POST" enctype="multipart/form-data">
					<input type="file" name="fileToSend">
					<input type="submit" value="Send">
				</form>
			{% else %}
				<p>
					Messaging is currently unavailable as {{ userID }} is offline. Try Again Later...
				</p>
			{% endif %}
		</div>
		{% endif %}
	</body>
</html>