<html>
	<head>
		<title>{{user}} - The Network</title>
		<style type="text/css">
			body {
				background-color:#3a3a3a;
				font-family: Segoe UI Light, sans-serif;
				padding:0px;
				margin: 0px;
			}
			h1 {
				color:#fff;
				width:50%;
				text-align:center;
				margin-left:25%;
				margin-bottom: 0px;
				margin-top: 0px;
				font-size:40px;
				padding:10px;
				font-weight:1000;
			}
			.navbar {
				height:50px;
				background-color:#505050;
				color:white; 
				display:block;
				text-align: center;
				border-bottom:2px solid #696969;
				border-top:2px solid #696969;
				position:relative;
			}
			.navContainer {
				margin:0px;
				font-size: 18px;
				text-align: center;
				display: inline-block;
				padding:0px;
			}
			.navContainer li {
				display: inline-block;
				height:50px;
				text-align: center;
				margin-left: 30;
				margin-right: 30px;
				border: 2px white;
			}
			.navContainer li a{
				text-decoration: none;
				color:white;
			}
			.navContainer li a:hover {
				text-decoration: underline;
			}
			.userWelcome{
				margin:16px 350px 0px 0px;
				display: inline-block;
				text-align: center;
				font-size:18px;
			}
			.signOut {
				margin:0px 0px 0px 350px;
				display: inline-block;
				text-align: center;
				text-decoration: none;
				color:#DF2935;
				font-size: 18px;
				font-weight: bold;
			}
			.footer {
				background-color: #3a3a3a;
				height:20px;
				display: block;
				padding:2px;
				text-align: center;
				font-size: 10px;
			}
			.mainWrapper {
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			.centerWrapper {
				overflow: hidden;
			}
			form {
				background-color: white;
				height:50%;
				margin:0px;
				padding:15px;
				text-align: center; 
			}
			p.profilep {
				margin:0px;
				padding:5px;
			}
		</style>
	</head>
	<body>
	    <h1>The Network</h1>
	    <div class="mainWrapper">
		    <div class="navbar">
		    	<p class="userWelcome">Welcome {{user}}!</p>
		    	<ul class="navContainer">
		    		<li><a href="/homepage">IM</a></li>
	    			<li>My Profile</li>
		    	</ul>
		    	<a class="signOut" href='/signout'>Log Off</a>
		    </div>
		    <div class="centerWrapper">
		    	<form action="/setUserProfile" method="POST" enctype="multipart/form-data" autocomplete="off">
		    		<p class="profilep">{{user}}</p>
		    		<p class="profilep">Edit Profile</p>
		    		<label for="name">Name:</label>
		    		<input type="text" name="name"><br>
		    		<label for="position">Position:</label>
		    		<input type="text" name="position"><br>
		    		<label for="description">Description:</label>
		    		<input type="text" name="description"><br>
		    		<label for="picture">Picture URL:</label>
		    		<input type="text" name="picture"><br>
		    		<input type="submit" value="Confirm">
		    	</form>
		    </div>
		    <div class="footer">
		    	<p style="display:contents;color:white">A project by Dhairya Trivedi</p>
		    </div>
		</div>
	</body>
</html>