<html>
	<head>
		<style type="text/css">
			.dataContainer{
				padding:15px;
				background-color:#505050;
				border-radius:5px;
				height: fit-content;
				width:50%;
				margin:5% auto;
			}
			body {
				font-family: Segoe UI Light, sans-serif;
				background-color: #f8f8f8;
				text-align: center;
				color:white;
				overflow: hidden;
				vertical-align: center;
			}
			img {
				display:block;
				max-width: 150px;
				max-height: 150px;
				margin:auto;
			}
			label {
				width:100%;
				margin:0px;
				font-size:16px;
				display: table;

			}
			p {
				margin:0px 0px 15px 0px;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<a href="/messaging?userID={{userData[0][6]}}">Back to messages</a>
		<div class="dataContainer">
			<img src="{{userData[0][5]}}" alt="profile image">
			<label>Name:</label>
			<p>{{userData[0][1]}}</p>
			<label>Position:</label>
			<p>{{userData[0][2]}}</p>
			<label>Description:</label>
			<p>{{userData[0][3]}}</p>
			<label>Location:</label>
			<p>{{userData[0][4]}}</p>
			<br>
			<label style="font-size:14px;">Last Updated:</label>
			<p style="font-size:16px;">{{ timestamp }}</p>
		</div>
	</body>
</html>