<html>	
	<head>
		<meta http-equiv="refresh" content="30">
		<style type="text/css">
			body {
				background-color: white;
				padding:0px;
				margin:0px;
				font-size:16px;
				font-family: Segoe UI Light, sans-serif;
				font-weight:lighter;
			}
			.online {
				text-decoration: none;
				color:black; 
			}
			.online li{
				background-color:#86BA90;
			}
			.online li:hover {
				background-color:#75A37E; 
			}
			.offline {
				text-decoration: none;
				color:black; 
			}
			.offline li {
				background-color:#d3d3d3;
			}
			.offline li:hover {
				background-color:#a0a0a0;
			}
			ul {
				list-style: none;
				text-align: center;
				padding:0px;
				margin:0;
			}
			li {
				width: 100%;
				height:30px;
				display:table;
			}
			p {
				font-size: 16px;
				margin:0px;
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: #3a3a3a;
				color:white;
				text-align: center;
			}
		</style>
	</head>
	<body>
	   	<ul>
	   		<li style="background-color:#3a3a3a;color:white;font-size:15px;font-weight:500">
	   			<div style="vertical-align:middle;display:table-cell;">
	   				Online
	   			</div>
	   		</li>
	   		{% for i in userList %}
	   			{% if i[1] == 1 %}
   					<a class="online" href="/messaging?userID={{ i[0] }}" target="frame2">
   						<li>
   							<div style="vertical-align:middle;display:table-cell">
   								{{ i[0] }}
   							</div>
   						</li>
   					</a>
	   			{% endif %}
	   		{% endfor %}
	   		<li style="background-color:#3a3a3a;color:white;font-size:15px;font-weight:500">
	   			<div style="vertical-align:middle;display:table-cell">
	   				Offline
	   			</div>
	   		</li>
	   		{% for i in userList %}
	   			{% if i[1] == 0 %}
	   				<a class="offline" href="/messaging?userID={{ i[0] }}" target="frame2">
   						<li>
   							<div style="vertical-align:middle;display:table-cell">
   								{{ i[0] }}
   							</div>
   						</li>
   					</a>
	   			{% endif %}
	   		{% endfor %}
	   	</ul>
	</body>
</html>